<div class="container">
    <h3>Benvenuto nella Piattaforma Whistleblowing Unione Italiana Tiro a Segno</h3>
    <div class="row-flex">
        <div class="py-20">
            <p>Per acquisire informazioni generali sul Whistleblowing, puoi navigare liberamente i menu in alto, senza
                bisogno di effettuare l'accesso all'area riservata.</p>
            <p>Nel caso volessi inviare una segnalazione, puoi decidere se inviare o meno i tuoi dati.</p>
            <p>Vuoi inviare una segnalazione in totale anonimato? Clicca su NUOVA SEGNALAZIONE nel box a destra
                (SEGNALAZIONE ANONIMA) e descrivi la tua segnalazione attraverso il questionario che ti verrà proposto.
            </p>
            <p>Hai già effettato la segnalazione e desideri seguirne l’iter? Clicca su SEGUI LA TUA SEGNALAZIONE nello
                stesso box e inserisci le credenziali fornite al termine della fase di invio.</p>
            <p>Vuoi effettuare una segnalazione rivelando la tua identità? Clicca prima su NUOVA SEGNALAZIONE nel box a
                sinistra (SEGNALAZIONE CON REGISTRAZIONE) e inserisci i dati richiesti. Tali dati non saranno fruibili
                dal
                Gestore della tua segnalazione. Conserva le credenziali di accesso che ti verranno fornite al termine
                della
                tua registrazione, e attivale cliccando sul link che ti perverrà per e-mail. Clicca quindi sul pulsante
                SEGUI
                LA TUA SEGNALAZIONE nello stesso box per seguirne l’iter.</p>
            <p>In entrambi i casi le credenziali sono strettamente personali, al fine di garantire la riservatezza della
                segnalazione effettuata. È pertanto tua cura conservarle per i successivi accessi alla piattaforma e per
                monitorare le risposte alle segnalazioni inviate.</p>
            <p><a href="https://servizi.anticorruzione.it/segnalazioni/#/" target="_blank" class="link-SA">clicca
                    qui</a>
            </p>
            <p><br></p>
        </div>

        <div class="btn-settings">
          <div class="home-page-access-links-section">
            <div class="registered-user-section">
              <div class="registration-title">
                <img src="../../../assets/occhio-aperto.jpg" alt="occhio aperto" class="i-occhio">
                <label> SEGNALAZIONE CON REGISTRAZIONE</label>
              </div>
              <div class="registration-link">
                <a class="btn btn-primary" href="./SegnalazioneConRegistrazione.html" id="conReg">NUOVA SEGNALAZIONE</a>
                <a class="btn-secondary-action" href="./Login.html" id="loginLink" style="color: #01478c">SEGUI LA TUA
                  SEGNALAZIONE</a>
              </div>
            </div>
            <div class="unregistered-user-section">
              <div class="registration-title">
                <img src="../../../assets/occhio-chiuso.jpg" alt="occhio aperto" class="i-occhio">
                <label> SEGNALAZIONE ANONIMA</label>
              </div>
              <div class="registration-link">
                <a class="btn btn-primary" href="./SegnalazioneSenzaRegistrazione.html" id="conReg">NUOVA
                  SEGNALAZIONE</a>
                <a class="btn-secondary-action" href="./Login.html" id="loginLink" style="color: #01478c">SEGUI LA TUA
                  SEGNALAZIONE</a>
              </div>
            </div>
          </div>

        </div>

    </div>
</div>
