<div class=" user-menu-wrapper bg-primary text-white">

    <div class="frontend-menu container">
        <ul class="nav w-100">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/page/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/page/whistle" >Cos'è il Whistleblowing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/page/normativa" >Normativa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"  routerLink="/page/faq">Faq</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/page/admin" >Login Admin</a>
            </li>
        </ul>
    </div>

</div>
