<div class="container corpo">
  <h3>FAQ</h3>

  <div class="lista py-20">
    <h2>Come deve essere fatta una segnalazione?</h2>
    <p>Il dipendente o collaboratore deve segnalare ogni fatto concreto che:</p>
    <ul>
      <li>costituisca una violazione del codice etico e di condotta;</li>
      <li>costituisca un presunto reato;</li>
      <li>contrasti con il dovere alla fedeltà verso l’azienda.</li>
    </ul>
    <p>
      Il segnalante deve fornire elementi concreti e circostanziati, basati
      sulla buona fede, per consentire all’ente ricevente i riscontri necessari.
      Si tenga presente che ogni documento fornito anonimamente non è
      utilizzabile come prova in un’eventuale successivo contenzioso legale,
      quindi non è necessario che il segnalante fornisca prove documentali, ma
      deve fornire al gestore delle segnalazioni (struttura di analisi e
      gestione delle segnalazioni) indicazioni precise che consentano di avviare
      un processo di verifica e indagine interna.
    </p>
    <p>Sono vietate segnalazioni ingiuriose, calunniose o diffamatorie.</p>
    <p>
      Il segnalante non deve fornire in nessun modo informazioni di carattere
      personale circa la/le persona/e segnalate, non strettamente pertinente
      alla segnalazione. Inoltre non deve inviare documenti, foto, video,
      registrazioni audio che possono rappresentare una violazione della privacy
      o ottenuti infrangendo le leggi dello stato.
    </p>
    <p>
      A titolo di mero esempio, non si ritiene lecita la seguente segnalazione:
    </p>
    <p>“Il signor X ruba i computer dell’azienda”,</p>
    <p>mentre è lecita la seguente segnalazione:</p>
    <p>
      “Il giorno XX/XX/XXXX il signor X usciva dall’azienda con un computer
      dell’azienda”.
    </p>
    <p>
      Sulla seconda segnalazione l’Internal Audit può cercare riscontro e
      monitorare i comportamenti del sig. X.&nbsp;
    </p>
    <p>Le segnalazioni devono essere conformi alla “Policy segnalazioni”.</p>
    <h2>Che cos’è la Policy segnalazioni?</h2>
    <p>
      La raccolta e la gestione delle segnalazioni ha implicazioni legali sia
      relativamente alle informazioni trattate sia in relazione ai diritti e
      obblighi di tutte le parti (il segnalante, il/ segnalato/i, l’azienda).
    </p>
    <p>
      Quindi è quanto mai opportuno stabilire una policy che informi l’utente
      sulle modalità e limiti di formulazione delle segnalazioni, affinché sia
      possibile raccogliere le segnalazioni nel rispetto dei vincoli delle norme
      e leggi che potrebbero essere violate in relazione al trattamento delle
      informazioni e alla privacy dei soggetti coinvolti.
    </p>
    <p>
      Ad esempio la policy deve specificare che non si possono fornire dati
      personali dei segnalati oppure foto registrazioni audio e video raccolti
      illegalmente che infrangono il diritto di privacy. Inoltre deve
      esplicitamente vietare le segnalazioni fatte con lo scopo calunniare o
      diffamare colleghi, e deve dichiarare che queste possono comportare azioni
      disciplinari, nei confronti del segnalante.
    </p>
    <p>
      La policy deve esprimere la garanzia che l’azienda fornisce la
      dipendente/collaboratore che le segnalazioni fatte in buona fede non
      avranno conseguenze (sanzioni o discriminazioni) e non costituiranno
      pregiudizio per il proseguimento del rapporto di lavoro. Pertanto
      l’azienda si impegna a garantire la confidenzialità e/o anonimato del
      dipendente/collaboratore.
    </p>
    <p>
      La policy deve rendere consapevole il dipendente dell’importanza del
      meccanismo di segnalazione interna per migliorare il funzionamento
      dell’azienda e tutelarne gli interessi, invitando il
      dipendente/collaboratore ad assumere un ruolo attivo e responsabile
      nell’ambito della struttura in cui opera perché sia rispettato il codice
      etico e di comportamento.
    </p>
    <p>
      La policy dovrebbe indicare, senza usare termini legali, le situazioni e i
      comportamenti che dovrebbero far scattare la segnalazione e richiamare il
      codice etico.
    </p>
    <p>
      Infine, considerato che lo scopo principale delle segnalazioni è attivare
      l’Internal Audit o un comitato di controllo interno che effettui le
      verifiche e ottenga i riscontri, è sufficiente che le segnalazioni
      forniscano elementi reali e oggettivi che indirizzino l’Internal Audit a
      fare verifiche e controlli e non necessariamente devono fornire le prove
      di abusi o reati.?
    </p>
    <h2>Sono ammesse segnalazioni anonime?</h2>
    <p>
      La piattaforma WB Confidential ammette sia segnalazioni nominative sia
      segnalazioni anonime.
    </p>
    <p>
      Nella prassi italiana la gran parte delle aziende e degli enti pubblici
      non prendono in considerazione le segnalazioni anonime, perché si ritiene
      che la verifica di quanto affermato sia difficoltosa, in quanto non
      essendo identificato il denunciante non è possibile effettuare
      approfondimento con costui/costei.
    </p>
    <p>
      WB Confidential consente di superare il limite della tradizionale
      segnalazione anonima che non consente di approfondire e verificare meglio
      i fatti in oggetto, perché consente di stabilire un dialogo protetto con
      il segnalante.
    </p>
    <p>
      Altro aspetto che fino ad oggi ha ostacolato l’affermarsi del modello di
      whistleblowing è che si ritiene che debba prevalere il principio di tutela
      del denunciato, per cui questo debba conoscere l’autore e il contenuto
      della segnalazione per poter esercitare il suo diritto alla difesa da chi
      lo accusa. Inoltre è da ritenere determinante la circostanza che,
      nell'ordinamento italiano, non sussiste una norma che obblighi il datore
      di lavoro ad indagare su fatti denunciati attraverso una lettera anonima.
    </p>
    <p>
      Di recente la tendenza si sta invertendo, le iniziative legislative e
      normative per la lotta alla corruzione e la sicurezza dei mercati e delle
      banche, hanno introdotto il principio dell’ammissibilità di ricevere e
      gestire segnalazioni anche anonime, laddove ci sia una prevalenza tra gli
      interessi dell’azienda a tutelare i suoi interessi reputazionali e
      patrimoniali (ad esempio se viene segnalata una frode significativa o un
      rischio per la sicurezza rilevante) e quelli del denunciato ad essere
      informato.
    </p>
    <p>
      Pertanto si ritiene che le segnalazioni anonime vadano sempre prese in
      considerazione con cautela, ma ad esse venga dato seguito con verifiche e
      audit, laddove i fatti riportati possano avere un impatto rilevante dal
      punto di vista finanziario e patrimoniale.
    </p>
    <h2>Le segnalazioni sono effettivamente anonime?</h2>
    <p>
      Nel caso in cui l'utente decida di effettuare una segnalazione anonima,
      questi riceverà le credenziali randomiche generate dal sistema e non
      legate all’account di rete. Tramite l’applicativo non è possibile risalire
      all’utente che effettua una registrazione: anche nel caso di segnalazione
      riservata (quindi nominativa), il sistema mantiene sempre disaccoppiata
      l’identità del segnalante dalla sua segnalazione.
    </p>
    <h2>La piattaforma è sicura?</h2>
    <p>
      Sì, in quanto vengono utilizzati protocolli di comunicazione sicuri
      (https). Tutti i dati gestiti nel portale sono inoltre criptati e visibili
      solo alle persone autorizzate.
    </p>
    <h2>Chi riceve le segnalazioni?</h2>
    <p>
      Le segnalazioni inserite nel portale sono ricevute sempre in forma
      confidenziale dall’ente gestore individuato dalla direzione aziendale:
      Responsabile Trasparenza e Anticorruzione.
    </p>
    <p>
      Se l’ente gestore le ritiene valide, dopo aver effettuato necessarie
      verifiche e approfondimenti, le porta all’attenzione di un gruppo
      ristretto di soggetti individuati dal Responsabile Trasparenza e
      Anticorruzione.
    </p>
    <p>
      Qualora le segnalazioni riguardino il Responsabile Trasparenza e
      Anticorruzione gli interessati possono inviare le stesse direttamente
      all’A.N.A.C. (whistleblowing@anticorruzione.it).
    </p>
  </div>
</div>
