<div class="container corpo">
  <h3>Normativa</h3>
  <div class="lista py-20">
    <p>Con la normativa anticorruzione per la prima volta il Legislatore italiano ha deciso di offrire una tutela a
      più ampio spettro ai Whistleblowers.</p>
    <p>Prima delle modiche introdotte dalla Legge Anticorruzione n. 190 del 6 Novembre 2012 recante “Disposizioni per
      la prevenzione e la repressione della corruzione e dell'illegalità nella pubblica amministrazione”, ma che di
      fatto profila interessanti risvolti positivi in qualsiasi realtà aziendale, va evidenziato, che se da un lato
      gravava sul soggetto in questione l’obbligo giuridico di denunciare all’Autorità giudiziaria ovvero al superiore
      gerarchico un reato di cui avesse avuto notizia nell’esercizio delle sue funzioni, dall’altro egli non godeva di
      alcuna forma di tutela in caso di eventuali ritorsioni connesse alla sua denuncia.</p>
    <p>Questo evidente squilibrio è stato finalmente ridotto con l’avvento del nuovo art. 54 bis nel D.lgs. 165/2001
      (introdotto per espressa previsione del comma 51 della Legge Anticorruzione).</p>
    <p>L’articolo prevede che al di fuori dai casi di responsabilità a titolo di calunnia o diffamazione, si estende
      la tutela del Whistleblower ad altre tipologie di ritorsioni “minori” ma forse più diffuse, conseguenti e non
      alla sua segnalazione: ad esempio, demansionamento, mobbing, trasferimento ovvero discriminazione o simili.</p>
    <p>Ulteriore novità introdotta è la garanzia di riservatezza assicurata al whistlebolwer, al fine di evitare
      eventuali ripercussioni sul posto di lavoro. A tal riguardo va però evidenziato che il secondo periodo del comma
      51 della Legge 190 del 2012 prevede che il segreto sull’identità del segnalante può essere svelato quando sia
      “assolutamente indispensabile per la difesa dell’incolpato”.</p>
    <p>Successivamente alla Legge n. 190/2012, l’Autorità Nazionale Anticorruzione - A.N.A.C. ha pubblicato la
      Determinazione n. 6 del 28 aprile 2015 recante «“Linee guida in materia di tutela del dipendente pubblico che
      segnala illeciti (c.d. whistleblower)”», all’interno delle quali sono riportate le indicazioni sulle
      caratteristiche dei sistemi di segnalazione e sulle relative tutele da garantire al dipendente.</p>
    <p><strong>Tutela del dipendente che segnala illeciti</strong></p>
    <p>In mancanza di una specifica previsione normativa relativa alla tutela dei dipendenti che segnalano illeciti
      nelle società, come già rappresentato nelle Linee guida in materia emanate dall’Autorità con determinazione n. 6
      del 28 aprile 2015, le amministrazioni controllanti promuovono l’adozione da parte delle società di misure
      idonee ad incoraggiare il dipendente a denunciare gli illeciti di cui viene a conoscenza nell’ambito del
      rapporto di lavoro, avendo cura di garantire la riservatezza dell’identità del segnalante. A questo fine è utile
      assicurare la trasparenza del procedimento di segnalazione, definendo e rendendo noto l’iter, con l’indicazione
      di termini certi per l’avvio e la conclusione dell’istruttoria e con l’individuazione dei soggetti che
      gestiscono le segnalazioni.</p>
    <p>Inoltre, il Codice di Autodisciplina emanato da Borsa Italiana per le società quotate, nella revisione di
      luglio 2015 richiama, nei commenti all’art. 7 “Sistema di controllo interno e di gestione dei rischi”,
      l’opportunità, almeno nelle società emittenti appartenenti all’indice FTSE-MIB, di dotarsi di un sistema interno
      di segnalazione da parte dei dipendenti di eventuali irregolarità o violazioni della normativa applicabile e
      delle procedure interne (c.d. sistemi di whistleblowing), in linea con le best practices esistenti in ambito
      nazionale e internazionale, che garantisca un canale informativo specifico e riservato, nonché l’anonimato del
      segnalante. Il Codice viene adottato su base volontaria e, inoltre, consente agli emittenti di disapplicare, in
      tutto o in parte, alcune delle sue raccomandazioni. Tuttavia, in forza del meccanismo del comply or explain
      previsto dall’art. 123-bis del T.u.f., è però necessario spiegare le ragioni della disapplicazione.</p>
    <p>In generale la regolamentazione del whistleblowing discende principalmente da due fonti internazionali:</p>
    <ul>
      <li>Convenzione Civile sulla corruzione firmata a Strasburgo il 4 novembre 1999: l’articolo 9 richiede una
        protezione adeguata per i dipendenti i quali, in buona fede, denuncino di fatti di corruzione
        (whistleblowers);</li>
      <li>Convenzione delle Nazioni Unite contro la corruzione del 31 ottobre 2003: l’articolo 33 prevede la
        protezione per le persone che riferiscono su fatti di corruzione.</li>
    </ul>
    <p>Dal momento che l’Italia rientra tra gli Stati firmatari delle Convenzioni, il legislatore italiano è
      intervenuto con due leggi, che ratificano e danno piena ed intera esecuzione alle Convenzioni stesse all’interno
      dello Stato italiano. Le leggi sono le seguenti:</p>
    <ul>
      <li>Legge 3 agosto 2009, n. 116 - Ratifica ed esecuzione della Convenzione dell'Organizzazione delle Nazioni
        Unite contro la corruzione, adottata dalla Assemblea generale dell'ONU il 31 ottobre 2003 con risoluzione n.
        58/4, firmata dallo Stato italiano il 9 dicembre 2003, nonché' norme di adeguamento interno e modifiche al
        codice penale e al codice di procedura penale.</li>
      <li>Legge 28 giugno 2012, n. 112 - Ratifica ed esecuzione della Convenzione civile sulla corruzione, fatta a
        Strasburgo il 4 novembre 1999.</li>
    </ul>
    <p>Sulla spinta delle numerose sollecitazioni internazionali e per intervenire in modo efficace nella lotta alla
      corruzione, il legislatore ha, infine, operato al fine di adeguare il proprio sistema giuridico nazionale,
      orientandosi verso una normativa specifica in tema i whistleblowing.</p>
    <p>Oltre alla Legge anticorruzione e alle Linee Guida sopra riportate, la regolamentazione del whistleblowing e
      degli aspetti ad esso connessi è da ricercare attraverso l’analisi delle norme contenute nei diversi settori
      dell’ordinamento giuridico. Le leggi che hanno un impatto sulla procedura del whistleblowing sono
      essenzialmente:</p>
    <ul>
      <li>il D.Lgs. 231/2001 “Responsabilità amministrativa degli enti</li>
      <li>il Testo Unico sulla sicurezza (D.Lgs. 81/2008 e ss.mm.ii)</li>
      <li>il Codice Privacy</li>
    </ul>
    <p>In particolare per quanto riguarda il D.Lgs n.231/2001, che ha introdotto la responsabilità amministrativa
      degli enti per specifiche tipologie di reati commessi dai propri dipendenti, funzionari o amministratori,
      laddove l’azienda non dimostri di aver adottato e attuato modelli di organizzazione, gestione e controllo idonei
      a prevenirli, seppur non garantendo protezione ai whistleblowers, prevede l’istituzione di procedure di
      reportistica interna per una serie determinata di reati, che ha indotto molte grandi aziende italiane a
      introdurre procedure di Whistleblowing. Infatti l’interpretazione delle Linee Guida di Confindustria, che
      suggeriscono l’adozione di “procedure, flussi di informazione e altri strumenti atti a dare trasparenza
      nell’operare quotidiano, quali le segnalazioni alle quali sono tenuti i responsabili delle varie funzioni” e che
      illustrano (nel paragrafo 3) obblighi di informazione verso l’Organismo di Vigilanza, ha condotto le aziende a
      formulare procedure per la raccolta, la verifica, l’analisi e investigazione delle segnalazioni (anche anonime)
      di possibili illeciti o comportamenti censurabili, al fine di attivare gli organi interni preposti al controllo
      interno (Audit Interno) e l’Organismo di Vigilanza. Attraverso l’applicazione di queste procedure le aziende
      operano per interrompere o contrastare eventuali reati o potenziali situazioni di rischio, con il coinvolgimento
      delle funzioni aziendali nell’ambito delle quali i fatti sono accaduti e di concerto con quelle necessarie ad
      esercitare le azioni di tutela degli interessi aziendali (Ufficio Legale, Organizzazione e Risorse Umane).</p>
    <p>Il D.lgs. 81/2008 (conosciuto anche come “Testo Unico sulla salute e sicurezza sul lavoro”), impone obblighi in
      capo ai lavoratori che ravvisino pericoli per la sicurezza all’articolo 20, comma 2, lettera e):”I lavoratori
      devono in particolare segnalare immediatamente al datore di lavoro, al dirigente o al preposto le deficienze dei
      mezzi e dei dispositivi di cui alle lettere c) e d), nonché qualsiasi eventuale condizione di pericolo di cui
      vengano a conoscenza, adoperandosi direttamente, in caso di urgenza, nell’ambito delle proprie competenze e
      possibilità e fatto salvo l’obbligo di cui alla lettera f) per eliminare o ridurre le situazioni di pericolo
      grave e incombente, dandone notizia al rappresentante dei lavoratori per la sicurezza”.</p>
    <p>Importanti implicazioni derivano poi dalla disciplina in materia di protezione dei dati personali. Il Gruppo
      dei Garanti Europei (con Parere del 1° febbraio 2006) ha sancito la legittimità del trattamento delle
      segnalazioni rispetto alla normativa privacy, laddove essi siano stati adottati per la gestione di denunce
      relative ad irregolarità riguardanti illeciti contabili e finanziari, in quanto in tali ambiti l’interesse del
      datore di lavoro ad utilizzare un sistema di ricognizione delle informazioni (anche se ottenute in forma
      anonima) prevale su quello del dipendente ad esprimere il proprio consenso al trattamento dei dati. Nel dicembre
      2009 il Garante privacy ha elaborato una Segnalazione al Parlamento e al Governo sull'individuazione, mediante
      sistemi di segnalazione, degli illeciti commessi da soggetti operanti a vario titolo nell'organizzazione
      aziendale, chiedendo un intervento legislativo per regolare l’impiego e il funzionamento dei sistemi di
      segnalazione, assicurando “un equo contemperamento tra i diritti fondamentali delle persone coinvolte e le
      legittime esigenze di trasparenza e di tutela delle aziende presso le quali questi operano”.</p>
    <p>La richiesta del Garante in particolare si può sintetizzare nei punti seguenti:</p>
    <ul>
      <li>individuare i presupposti di liceità del trattamento delle segnalazioni;</li>
      <li>circoscrivere l’ambito della procedura di whistleblowing;</li>
      <li>stabilire l'eventuale ammissibilità dei trattamenti derivanti da segnalazioni anonime;</li>
      <li>definire la portata del diritto di accesso alle segnalazioni da parte del soggetto segnalato;</li>
      <li>stabilire l'eventuale ammissibilità dei trattamenti derivanti da segnalazioni anonime.</li>
    </ul>
    <p><strong>LEGISLAZIONE SUL WHISTLEBLOWING NEL MONDO</strong></p>
    <p>STATI UNITI</p>
    <p>Negli Stati Uniti la protezione dei whistleblowers varia da Stato a Stato. Esistono diverse leggi federali e
      statali che proteggono gli impiegati che forniscono informazioni. La prima legge statunitense adottata
      specificatamente per la protezione dei whistleblowers è stata “The Lloyd-La Follette Act” del 1912 che garantiva
      il diritto agli impiegati federali di fornire informazioni al Congresso degli Stati Uniti. Successivamente il
      Congresso approvò la “Civil Service Reform Act” nel 1978 per proteggere i diritti degli impiegati governativi
      che riportavano fatti di corruzione. Nel 1989 tale diritto di protezione fu esteso agli impiegati non
      governativi grazie al “False Claim Act”. Nel 2002 è stato adottato il “Sarbanes-Oxlely Corporate Reform Act” –
      SOX che prevede esplicitamente la protezione dei whistleblowers. La Legge Sarbanes-Oxley si applica a tutte le
      Società che hanno i loro titoli quotati nei mercati finanziari americani; per questo ha anche implicazioni di
      carattere internazionale in quanto si applica anche alle Società estere con i titoli quotati nelle borse USA.
      Molto prima, nel 1977, in materia anticorruzione è stato promulgato il “Foreign Corrupt Practices Act” (FCPA)
      che si applica a tutti gli individui, aziende, impiegati, direttori, agenti e azionisti che agiscono in favore
      di un'azienda che abbia la principale sede d'affari negli USA, o che comunque sia sottoposta alle leggi
      americane. Nel 1998 il FCPA è stato modificato, ampliando la giurisdizione alle multinazionali, per cui, in
      seguito a tale modifica, le società capogruppo americane possono essere ritenute responsabili per le azioni
      delle loro affiliate all'estero, così come possono essere ritenuti responsabili coloro che agiscono a favore
      delle affiliate. L'atto vieta che una società estera o una società americana all'estero elargisca pagamenti
      corruttivi a pubblici ufficiali, entro il territorio degli USA, ritenendo illecite non solo le azioni
      corruttive, ma anche le circostanze che hanno causato le azioni stesse. Non è necessario che l'atto di
      corruzione avvenga, anche la sola offerta o la promessa di un pagamento corruttivo possono costituire violazione
      della legge.</p>
    <p>EUROPA:</p>
    <p><strong>Regno Unito</strong></p>
    <p>Nel luglio 2011 nel Regno Unito, è entrato in vigore il Bribery Act, una legge anti-corruzione che si applica
      ad enti e società inglesi (“commercial organizations”) operanti sia all’interno sia fuori dal Regno Unito e agli
      enti e società non inglesi che svolgono attività, o parte delle attività, nel Regno Unito. In presenza di reati
      di corruzione – pubblica o privata - compiuti nell'interesse dell'organizzazione (anche nel caso in cui non ne
      consegua un effettivo vantaggio) da persone che abbiano con tali enti una relazione qualificata o che agiscano
      in nome e per conto, l'ente può essere ritenuto responsabile salvo che siano state preventivamente adottate
      procedure adeguate ("adequate procedures") finalizzate alla prevenzione del reato. Per le società italiane,
      l’applicazione delle previsioni del Bribery Act è ipotizzabile sia nel caso in cui le stesse abbiano una
      presenza diretta nel Regno Unito sia nel caso in cui operino attraverso associazioni temporanee di imprese e/o
      svolgano attività tramite agenti e distributori. E’ da ipotizzarsi inoltre l’applicabilità per le società aventi
      sede in Italia appartenenti a Gruppi costituiti nel Regno Unito. L’UK Bribery Act ha analogia con il DLgs
      231/2001 sia con riferimento alla natura dei reati perseguiti, sia con riferimento ai presupposti di
      applicabilità e di esonero dalla responsabilità degli enti. Non è pertanto da escludersi l’ipotesi in cui
      l’iniziativa intrapresa da organi di giustizia britannici possa sfociare in un’informazione di garanzia anche ai
      sensi del DLgs 231/2001. In tal caso la società si troverebbe a dover fornire la prova di aver predisposto
      misure adeguate rispetto a due distinti sistemi di compliance con un aggravio di adempimenti per gli enti che
      operano in contesti internazionali. Ancor prima, dal 1999, è entrato in vigore il “Public Interest Disclousure
      Act” – PIDA, che riguarda tutti gli impiegati che lavorano nel Regno Unito sia nel settore pubblico che in
      quello privato. Prevede uno strumento di protezione legale per gli individui che forniscono informazioni utili a
      smascherare fenomeni di corruzione. Pertanto tale normativa protegge i Whistleblowers da eventuali
      vittimizzazioni e licenziamenti. Il PIDA è integrato con la normativa del lavoro (“The Civil Service Code for
      the public sector”) e attualmente in Gran Bretagna è allo studio la promozione di un nuovo Codice di Condotta
      per il settore pubblico. IL PIDA è internazionalmente riconosciuto come standard di riferimento per il
      whistleblowing nel settore pubblico. Il PIDA promuove l’interesse pubblico attraverso la protezione dei
      whistleblowers, impiegati che denunciano, in buona fede, cattive condotte o comportamenti illeciti di managers o
      impiegati. Il PIDA si applica nei luoghi di lavoro per proteggere coloro che denunciano da eventuali conseguenze
      concrete come il licenziamento. Il PIDA contiene le “Best Practices del Whistleblowing” al fine di incoraggiare
      i lavoratori alla sorveglianza e alla denuncia anche per permettere, qualora possibile, l’attuazione di
      soluzioni interne a potenziali problemi piuttosto che adire l’autorità giudiziaria (meccanismi di internal
      audit).</p>
    <p><strong>Francia</strong></p>
    <p>Il 13 novembre 2007 la Francia ha adottato una legge per la protezione dei whistleblower, con due limitazioni:
      è applicabile solo al contesto dei reati di corruzione ed è estesa solo al settore privato. Si tratta della
      legge n. 1598-2007. Tale legge prevede la protezione per i whistleblower che segnalano reati di corruzione sul
      luogo di lavoro. Tuttavia, la Francia ammette solo denunce non anonime (l’anonimato è contrario alla normativa
      Privacy francese) e prevede il diritto di accesso ai dati da parte dell’indagato da concordare con le
      rappresentanze sindacali (“Comités d’entreprise”).</p>
    <p></p>
    <p>NORMATIVA INTERNAZIONALE:</p>
    <p>Bribery Act_2010</p>
    <p>Conv_OCSE</p>
    <p>Convenzione Civile sulla corruzione del 4.11.99</p>
    <p>Convenzione_tutela_interessi_finanziari_comunità_europee</p>
    <p>FCPA</p>
    <p>LOI n. 2007-1598 du 13 novembre 2007 relative à la lutte contre la corruption</p>
    <p></p>
    <p>NORMATIVA NAZIONALE:</p>
    <p>D.Lgs._33_2013_trasparenza</p>
    <p>D.Lgs._97_2016</p>
    <p>Det_n. 8_23.6.2015 _anac</p>
    <p>Det_n.6_28.04.2015_anac</p>
    <p>legge_116_2009</p>
    <p>legge_6_novembre_2012_n_190_anticorruzione</p>
  </div>
</div>
